h1 {text-align: center;color: #3b5d3a;} 
h1{font-family: "Courier New", Monospace;}
body {background-color: #f7f9fc;}
body{color:black;}
A {COLOR: #590f16;}
A:hover {color: #fbff38;}
img.huh{position: absolute;
	max-width: 80%;
	top: 10%;
	left: 10%;}
