h1 {text-align: center;color: #3b5d3a;} 
h1{font-family: "Courier New", Monospace;}
body {background-color: #f7f9fc;}
body{color:black;}
A {COLOR: #590f16;}
A:hover {color: #fbff38;}
huh{ float:right;}
